
            body {
        background-image: url("");
        background-color: #cccccc;
        }
        .hero{
            background-color:#0f0f0f ;
            color:rgb(193, 195, 195);
        }
        .f-para{
            padding: 10px;
            margin: 10px;
            background-color: black;
            border-radius:25px ;
            
        }
        
        .hero{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-column-end: auto;
            
        }

        .heading{
            padding-left: 30px;
        }

        .world{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 3px;
        }

        .atlast{
            background-color: #0f0f0f;
            
        
        }

        .footr a{
            padding: 15px;
            
        }
        .f-para:hover{
            transform: scale(0.96);
            transition-duration: 0.4s;
        }
        h1:hover{
            color: rgb(10, 112, 159);
            transition-duration: 2s;
        }
        p:hover{
            color: rgb(221, 216, 210);
            transition-duration: 2s;
        }
     
      
    